
.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.label {
padding-top:10px;
padding-bottom:3px;
font-weight:bold;
}
hr {
margin:20px 0;
height:1px;
border:none;
background:#ccc;
}

